@model IEnumerable<AuthorDto>

<div>
    <h1>@ViewBag.WhatIsThisList</h1>
    @foreach (var author in Model)
    {
        <div>

            <h2>
                <a asp-controller="Authors" asp-action="Details" asp-route-authorId="@author.Id" >First Name = @author.Name</a>
            </h2>
            <h3>Age = @author.Age</h3>
            <h4>Author Category = @author.MainCategory</h4>
            <h5>Id = @author.Id</h5>
            <h6></h6>
        </div>
    }
</div>
